@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Source Code Pro', monospace

.action-button
  width 100px
  height 20px

.torrent-player
  display flex
  flex-direction column
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)

div.dropzone
  position fixed
  top 0
  left 0
  z-index 9999999999
  width 100%
  height 100%
  background-color rgba(0,0,0,0.5)
  transition visibility 175ms, opacity 175ms

#subtitle
  font-weight bold
  text-align center
  padding 1em 0
  margin 1em 0
  color #555
  border 2px dashed #555
  border-radius 7px
  cursor default
  width 50px
  heigth 50px

div
  text-align center
  .upload
    display inline-block
  .magnet
    margin-left 100px
  .common
    line-height 200%
  .send
    margin-top 50px

ul
  list-style-type: none;

.header
  background url('/img/header.jpg')
  background-position bottom
  background-size 100%
  background-repeat no-repeat

  .page-title
    font-weight 200
    font-size 80px
    text-align center
    padding 100px
    text-transform uppercase
    color #fff

.nav
  background #000
  text-align center

  li
    display inline-block

  a
    display inline-block
    padding 20px
    color #fff
    text-decoration none

    &:hover
      background-color #3AB795
      text-decoration underline

.main-content
  margin 50px auto
  max-width 600px

  p
    line-height 1.6
    margin-bottom 1.7em

.footer
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
    font-size 12px
