doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title World Wide Web
  body
    .header
      h1.page-title Torrent Streamer

    .main-content
      block content

    .footer
      p

  block js