doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Torrente Streamer
  body
    .header
      h1.page-title Torrente Streamer

    .main-content
      block content

  block js