doctype html
html
  head
    block css
    link(rel='stylesheet', href='/css/index.css')
    title Torrente Streamer
  body
    block raw-body
    block header

    .main-content
      block content

  block js