extend default

block raw-body
    div.dropzone(style="visibility:hidden; opacity:0")
    div.torrent-player
        video.video-js.vjs-big-play-centered(
            id="player",
            controls,
            preload="auto",
            data-setup='{}'
        )
            source(src=`${video_src}`, type="video/mp4")
            p.vjs-no-js
                a(href="http://videojs.com/html5-video-support/", target="_blank") To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video

        div: label(for="subtitle") Click below button and choose a subtitle file or drag'n'drop it anywhere in the page.
        div: input(type="file", id="subtitle", name="subtitle")

block css
    link(href='//vjs.zencdn.net/5.11/video-js.min.css', rel='stylesheet')

block js
    script(src="//vjs.zencdn.net/5.11/video.min.js")
    script.
        prepareDropFile();
        window.addEventListener("drop", function (e) {
            if (e.dataTransfer.files.length == 1) {
                addSubtitle(e.dataTransfer.files[0]);
            }
        });
        document.getElementById('subtitle').addEventListener("change", function(e) {
            var file = document.getElementById('subtitle').files[0];
            addSubtitle(file);
        });