extend default

block content
  ul
    li: div.torrent
      form(method='POST', action='/upload')
        p
          label Torrent file
          input(type='file', name='torrent')
          button Send

    li: div.magnet
      form(method='POST', action='/upload')
        p
          label Magnet link
          input(type='text', name='magnet')
          button Send