extend default

block header
  .header
    h1.page-title Torrente Streamer

block content
  div.dropzone(style="visibility:hidden; opacity:0")
  div.search.upload.common(style="visibility:hidden; opacity:0")
    ul
      li: label(for='search') Search torrent
      li
        input(type='text', id='search', name='search', style='width: 160px')
        button.search-button(id='go', onclick="searchTorrent()") Search

  form(enctype='multipart/form-data', method='POST', action='/upload')
    div.torrent.upload.common
      ul
        li: label(for='torrent') Torrent file
        li: input(type='file', id='torrent', name='torrent', style='width: 160px')

    div.magnet.upload.common
      ul
        li: label(for='magnet') Magnet link
        li: input(type='text', id='magnet', name='magnet')

  div.send.common
    ul
      li: label(for='quality') Quality
      li: input(type='range', name='quality', min=`${min_bitrate}`, max=`${max_bitrate}`, value=`${def_bitrate}`)
      li
        button.action-button(name='view', style="margin-right: 10px;") View
        button.action-button(name='download') Download


block js
  script.
    prepareDropFile();
    $("search").addEventListener("keyup", function(event) {
      event.preventDefault();
      if (event.keyCode == 13) {
        searchTorrent();
      }
    });
    window.addEventListener("drop", function (e) {
      if (e.dataTransfer.files.length == 1) {
        document.getElementById("torrent").files = e.dataTransfer.files;
      }
    });
    document.addEventListener('paste', function(e) {
      e.stopPropagation(); e.preventDefault();
      document.getElementById("magnet").value = (e.clipboardData || window.clipboardData).getData('Text')
    });